<f:if condition="{newsletters}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Filter</h3>
        </div>

        <div class="panel-body">
            <f:form name="filter" class="form" object="{filter}" action="list">
                <div class="row">
                    <div class="col-md-3">
                        <h5><f:translate key="module.newsletter.list.filter.search.label">search</f:translate></h5>

                        <div class="input-group form-group">
                            <label for="searchterm" class="hidden">
                                <f:translate key="module.newsletter.list.filter.search.label">search</f:translate>
                            </label>
                            <f:form.textfield
                                type="input"
                                property="searchterm"
                                id="searchterm"
                                class="form-control"
                                placeholder="{f:translate(key:'module.newsletter.list.filter.search.placeholder')}" />
                            <button type="button" class="btn btn-default" data-global-event="click" data-action-focus="#searchterm">
                                <core:icon identifier="actions-search" />
                            </button>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <h5><f:translate key="module.newsletter.list.filter.category.label">Category</f:translate></h5>

                        <div class="input-group form-group">
                            <label for="categoryScoring" class="hidden">
                                <f:translate key="module.newsletter.list.filter.category.label">Category</f:translate>
                            </label>
                            <f:form.select
                                property="category"
                                options="{categories}"
                                optionLabelField="title"
                                optionValueField="uid"
                                prependOptionValue=""
                                prependOptionLabel=""
                                class="form-control form-select"
                                id="categoryScoring"/>
                            <button type="button" class="btn btn-default" data-global-event="click" data-action-focus="#categoryScoring">
                                <core:icon identifier="actions-tag" />
                            </button>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <h5><f:translate key="module.newsletter.list.filter.time.label">Time</f:translate></h5>

                        <div class="input-group form-group">
                            <label for="time" class="hidden">
                                <f:translate key="module.newsletter.list.filter.time.label">Time</f:translate>
                            </label>
                            <f:form.select
                                property="time"
                                options="{filter.timeOptions}"
                                class="form-control form-select"
                                id="time"/>
                            <button type="button" class="btn btn-default" data-global-event="click" data-action-focus="#time">
                                <core:icon identifier="actions-calendar-alternative" />
                            </button>
                        </div>
                    </div>


                    <div class="col-md-3" style="flex-direction: initial;">
                        <f:comment>Clear filter</f:comment>
                        <f:if condition="{filter.set}">
                            <f:link.action class="btn btn-default" style="flex: 50%; height: 32px; margin-top: auto; margin-right: 10px; margin-bottom: 8px;" action="resetFilter" arguments="{redirectAction:view.action}">
                                <f:translate key="module.newsletter.list.filter.reset">Reset</f:translate>
                            </f:link.action>
                        </f:if>

                        <f:comment>Submit filter</f:comment>
                        <f:form.submit
                            style="flex: 50%; height: 32px; margin-top: auto; margin-bottom: 8px;"
                            class="btn btn-primary"
                            value="{f:translate(key:'module.newsletter.list.filter.submit')}" />
                    </div>
                </div>
            </f:form>
        </div>
    </div>
</f:if>
