$colorMain: #4DE7FF;
$colorSoft: #A5E7FF;
$colorAlternative: #08E7FF;
$colorGrey: #DDDDDD;
$colorGreyDark: #292929;
$black: #000000;
$white: #ffffff;

// Breakpoints

$phone: 320px;
$phone-5: 400px;
$phablet: 600px;
$tablet: 768px;
$desktop: 1024px;
$desktop-wide: 1280px;
$laptop-small: 1440px;
$laptop: 1680px;
$fullhd: 1920px;