<f:if condition="{teaserElements}">
	<f:if condition="{flexformConfiguration.sectionmenu}">
		<f:render section="SectionMenu" arguments="{_all}" />
	</f:if>

	<f:for each="{teaserElements}" as="teaserElement">
		<luxletter:format.cropBySelection
				limit="{flexformConfiguration.limit}"
				append="{flexformConfiguration.append}"
				classNameToSelect="ce-bodytext">{teaserElement.html}</luxletter:format.cropBySelection>
		<f:render section="MoreButton" arguments="{_all}" />
	</f:for>
</f:if>


<f:comment>
	View for rendering a section menu
</f:comment>
<f:section name="SectionMenu">
	<h4><f:translate key="fe.ce.teaser.quickstart">Quickstart:</f:translate></h4>
	<ul class="luxletter-teaser-sectionmenu">
		<f:for each="{teaserElements}" as="teaserElement">
			<li><a href="#c{teaserElement.data.uid}">{teaserElement.data.header}</a></li>
		</f:for>
	</ul>
</f:section>


<f:comment>
	More button
</f:comment>
<f:section name="MoreButton">
	<luxletter:condition.isNewsletterTypenum>
		<f:then>
			<f:render section="MoreButtonNewsletter" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:render section="MoreButtonWebsite" arguments="{_all}" />
		</f:else>
	</luxletter:condition.isNewsletterTypenum>
</f:section>


<f:comment>
	MoreButton: View for rendering into a newsletter
</f:comment>
<f:section name="MoreButtonNewsletter">
	<table width="100%">
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align="right">
				<table class="button success float-right">
					<tr>
						<td>
							<table>
								<tr>
									<td><f:link.page
											pageUid="{teaserElement.data.pid}"
											section="{teaserElement.data.uid}"
											absolute="1"
											class="btn btn-primary">{flexformConfiguration.buttontext}</f:link.page></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</f:section>


<f:comment>
	MoreButton: View for normal website
</f:comment>
<f:section name="MoreButtonWebsite">
	<p><f:link.page
			pageUid="{teaserElement.data.pid}"
			section="{teaserElement.data.uid}"
			absolute="1"
			class="btn btn-primary">{flexformConfiguration.buttontext}</f:link.page></p>
</f:section>
