<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Click
			<span class="badge" style="float: right;" title="Overall">{statistic.openingsByClickers}</span>
		</h3>
	</div>
	<div class="panel-body">
		<canvas
				id="luxletter-dashboard-click"
				width="600"
				height="300"
				data-chart="bar"
				data-chart-label="Conversion"
				data-chart-data="{luxletter:statistic.getListOfPropertiesFromNewsletters(newsletters:newsletters,property:'clickers')}"
				data-chart-labels="{luxletter:statistic.getListOfPropertiesFromNewsletters(newsletters:newsletters,property:'title')}"></canvas>
	</div>
</div>
