<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Links
		</h3>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge" style="float: right;" title="Overall">10</span>
				https://www.domain.org/newsletter/abc/detail1 (Newsletter A - 2020/01)
			</li>
			<li class="list-group-item">
				<span class="badge" style="float: right;" title="Overall">10</span>
				https://www.domain.org/newsletter/abc/detail1 (Newsletter A - 2020/01)
			</li>
			<li class="list-group-item">
				<span class="badge" style="float: right;" title="Overall">10</span>
				https://www.domain.org/newsletter/abc/detail1 (Newsletter A - 2020/01)
			</li>
			<li class="list-group-item">
				<span class="badge" style="float: right;" title="Overall">10</span>
				https://www.domain.org/newsletter/abc/detail1 (Newsletter A - 2020/01)
			</li>
			<li class="list-group-item">
				<span class="badge" style="float: right;" title="Overall">10</span>
				https://www.domain.org/newsletter/abc/detail1 (Newsletter A - 2020/01)
			</li>
			<li class="list-group-item">
				<span class="badge" style="float: right;" title="Overall">10</span>
				https://www.domain.org/newsletter/abc/detail1 (Newsletter A - 2020/01)
			</li>
			<li class="list-group-item">
				<span class="badge" style="float: right;" title="Overall">10</span>
				https://www.domain.org/newsletter/abc/detail1 (Newsletter A - 2020/01)
			</li>
			<li class="list-group-item">
				<span class="badge" style="float: right;" title="Overall">10</span>
				https://www.domain.org/newsletter/abc/detail1 (Newsletter A - 2020/01)
			</li>
		</ul>
	</div>
</div>
