<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Newsletter
			<span class="badge" style="float: right;" title="Overall">10</span>
		</h3>
	</div>
	<div class="panel-body">
		<ul>
			<li>
				Newsletter 2020/02 / Product A
				<ul>
					<li>13 % Öffnungsrate</li>
					<li>11 % Klickrate</li>
					<li>0,25 % Unsubscribe</li>
				</ul>
			</li>
			<li>
				Newsletter 2020/02 / Product B
				<ul>
					<li>13 % Öffnungsrate</li>
					<li>11 % Klickrate</li>
					<li>0,25 % Unsubscribe</li>
				</ul>
			</li>
			<li>
				Newsletter 2020/01 / Product A
				<ul>
					<li>13 % Öffnungsrate</li>
					<li>11 % Klickrate</li>
					<li>0,25 % Unsubscribe</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
