<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Newsletter
			<span class="badge" style="float: right;" title="Overall">10</span>
		</h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<th scope="row">Newsletter 2020/02 / Product A</th>
				<td>13 % Öffnungsrate</td>
				<td>11 % Klickrate</td>
				<td>0,25 % Unsubscribe</td>
			</tr>
			<tr>
				<th scope="row">Newsletter 2020/02 / Product B</th>
				<td>13 % Öffnungsrate</td>
				<td>11 % Klickrate</td>
				<td>0,25 % Unsubscribe</td>
			</tr>
			<tr>
				<th scope="row">Newsletter 2020/01 / Product A</th>
				<td>13 % Öffnungsrate</td>
				<td>11 % Klickrate</td>
				<td>0,25 % Unsubscribe</td>
			</tr>
		</table>
	</div>
</div>
