<div class="panel panel-default">
	<div class="panel-body">
		<div class="luxletter-panel-body">
			<div class="row">
				<div class="col-md-6 vcenter">
					<canvas
							id="luxletter-dashboard-overallclickrate"
							width="150"
							height="150"
							data-chart="doughnut"
							data-chart-data="{statistic.overallOpenings - statistic.openingsByClickers},{statistic.openingsByClickers}"
							data-chart-labels="{f:translate(key:'module.newsletter.dashboard.label.overallclickrate.0')},{f:translate(key:'module.newsletter.dashboard.label.overallclickrate.1')}"></canvas>
				</div><!--


				--><div class="col-md-6 vcenter">
					<span class="luxletter-panel-body-text">
						<luxletter:format.percent number="{statistic.overallClickRate}">11 %</luxletter:format.percent>
						<span class="luxletter-panel-body-text--addition"><f:translate key="module.newsletter.dashboard.label.overallclickrate">Click rate</f:translate></span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
