<div class="panel panel-default">
    <div class="panel-body vcenter">
        <div class="luxletter-panel-body">
            <span class="luxletter-panel-body-text luxletter-panel-body-text__larger" title="{statistic.overallMailsSent} mails sent">
                {statistic.overallReceivers}
                <span class="luxletter-panel-body-text--addition"><f:translate key="module.newsletter.dashboard.label.overallreceivers">receiver</f:translate></span>
            </span>
        </div>
    </div>
</div>
