<f:layout name="Backend"/>

<f:section name="content">
	<div class="row">
		<div class="col-md-12">
			<h1>
				<f:translate key="module.newsletter.edit.title">edit newsletter</f:translate>
			</h1>

			<f:render partial="Miscellaneous/FlashMessages" arguments="{_all}"/>

			<f:render partial="Newsletter/Wizard" arguments="{_all}"/>

			<f:form class="wizardform" action="update" name="newsletter" object="{newsletter}">
				<f:render partial="Newsletter/FormFields" arguments="{_all}"/>
			</f:form>
		</div>
	</div>
</f:section>
