<f:layout name="BackendLuxLetter" />

<f:section name="content">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Css/Vendor/HoverEffectIdeas.css', extensionName: 'luxletter')}" />

	<div class="row">
		<div class="col-md-12">
			<h1>
				Make luxletter even better with <a href="https://github.com/in2code-de/lux" target="_blank" rel="noopener noreferrer">lux</a>
			</h1>
			<span style="font-size: 16px">Install the free extension LUX to get analytic information about your receivers</span>
		</div>
	</div>

	<div class="row" style="margin-top: 40px">
		<div class="col-md-6">
			<figure class="effect-oscar" style="position: relative;">
				<f:image src="EXT:luxletter/Resources/Public/Images/Lux/ReceiverList.png" width="800c" height="400c" style="width: 100%; height: auto;" alt="Receiver list" />
				<a href="https://www.in2code.de/produkte/lux-typo3-marketing-automation/?utm_campaign=LUXletter+Community+Version&utm_id=llcv&utm_source=typo3&utm_medium=browser&utm_content=receiver+module+card+list" target="_blank" rel="noopener noreferrer">
					<figcaption style="position:absolute; top:0; left: 0; right: 0; bottom: 0; text-align: center; color: white;">
						<h2 style="font-size: 40px;">
							Receiver list
						</h2>
						<p style="font-size: 16px;">
							Manage receivers and get an overview about the activities of your receiver.
						</p>
					</figcaption>
				</a>
			</figure>
		</div>
		<div class="col-md-6">
			<figure class="effect-oscar" style="position: relative;">
				<f:image src="EXT:luxletter/Resources/Public/Images/Lux/ReceiverDetail.png" width="800c" height="400c" style="width: 100%; height: auto;" alt="Receiver actions" />
				<a href="https://www.in2code.de/produkte/lux-typo3-marketing-automation/?utm_campaign=LUXletter+Community+Version&utm_id=llcv&utm_source=typo3&utm_medium=browser&utm_content=receiver+module+card+actions" target="_blank" rel="noopener noreferrer">
					<figcaption style="position:absolute; top:0; left: 0; right: 0; bottom: 0; text-align: center; color: white;">
						<h2 style="font-size: 40px;">
							Receiver actions
						</h2>
						<p style="font-size: 16px;">
							See actions of a receiver related to newsletters or to website movement.
						</p>
					</figcaption>
				</a>
			</figure>
		</div>
	</div>

</f:section>
