<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Most activest
			<span class="badge" style="float: right;" title="Overall">4</span>
		</h3>
	</div>
	<div class="panel-body">
		<canvas
				id="luxletter-dashboard-open"
				width="600"
				height="200"
				data-chart="bar"
				data-chart-label="Most activest"
				data-chart-data="{luxletter:statistic.getListOfMostActivestValues(activities:activities)}"
				data-chart-labels="{luxletter:statistic.getListOfMostActivestUsers(activities:activities)}"></canvas>
	</div>
</div>
