<fieldset>
	<div class="form-group">
		<label for="title" class="lb-lg">
			<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.title">title
				todo
			</f:translate>
		</label>
		<f:form.textfield class="form-control input-lg" property="title" id="title"
						  placeholder="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.title.placeholder')}"
						  required="required"/>
		<span class="help-block">
            <f:translate
					key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.title.description">Example description</f:translate>
        </span>
	</div>

	<div class="form-group">
		<label for="description" class="lb-lg">
			<f:translate
					key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.description">
				description
			</f:translate>
		</label>
		<f:form.textarea class="form-control input-lg" property="description" id="description"
						 placeholder="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.description.placeholder')}"
						 style="height: 300px;"></f:form.textarea>
		<span class="help-block">
            <f:translate
					key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.description.description">Example description</f:translate>
        </span>
	</div>

	<button class="btn btn-primary btn-lg pull-right" data-wizardform-gotostep="2">Weiter</button>
</fieldset>

<fieldset>
	<h2>
		<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.addtrigger">add
			trigger todo
		</f:translate>
	</h2>

	todo

	<div class="row form-group">
		<div class="col-md-12">
			<button class="btn btn-primary btn-lg" data-wizardform-gotostep="1">
				<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:back">back</f:translate>
			</button>
			<button class="btn btn-primary btn-lg pull-right" data-wizardform-gotostep="3">
				<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:next">next</f:translate>
			</button>
		</div>
	</div>
</fieldset>

<fieldset>
	<h2>
		<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.field.addaction">add
			action todo
		</f:translate>
	</h2>

	<button class="btn btn-primary btn-lg" data-wizardform-gotostep="2">
		<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:back">back</f:translate>
	</button>
	<f:form.submit class="btn btn-primary btn-lg pull-right"
				   value="{f:translate(key:'LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:save')}"/>
</fieldset>
