<fieldset xmlns:f="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="title" class="lb-lg">
                    <f:translate key="module.newsletter.new.field.title">Title</f:translate>*
                </label>
                <f:form.textfield
                    class="form-control input-lg"
                      property="title"
                      id="title"
                      placeholder="Newsletter Product A 2020/01"
                      data="{luxletter-mandatory:'1'}"
                      required="required"/>
                <span class="help-block">
                    <f:translate key="module.newsletter.new.field.title.description">Useful title</f:translate>
                </span>
            </div>

            <div class="form-group">
                <label for="category" class="lb-lg">
                    <f:translate key="module.newsletter.new.field.category">category</f:translate>
                </label>
                <f:form.select
                    class="form-control form-select input-lg"
                    id="category"
                    options="{categories}"
                    optionValueField="uid"
                    optionLabelField="title"
                    prependOptionLabel="{f:translate(key:'pleasechoose')}"
                    prependOptionValue="0"
                    property="category"/>
                <span class="help-block">
                    <f:translate key="module.newsletter.new.field.category.description">Category description</f:translate>
                </span>
            </div>

            <div class="form-group">
                <label for="datetime" class="lb-lg">
                    <f:translate key="module.newsletter.new.field.datetime">Datetime</f:translate>
                </label>
                <f:form.textfield
                    type="datetime-local"
                    property="datetime"
                    value="{newsletter.datetime -> f:format.date(format:'Y-m-d H:i')}"
                    id="datetime"
                    class="form-control input-lg" />
                <span class="help-block">
                    <f:translate key="module.newsletter.new.field.datetime.description">Datetime description</f:translate>
                </span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="description" class="lb-lg">
                    <f:translate key="module.newsletter.new.field.description">description</f:translate>
                </label>
                <f:form.textarea class="form-control input-lg"
                                 property="description"
                                 id="description"
                                 style="height: 302px;"></f:form.textarea>
                <span class="help-block">
                    <f:translate key="module.newsletter.new.field.description.description">Example description</f:translate>
                </span>
            </div>
        </div>
    </div>


    <button class="btn btn-primary btn-lg pull-right" data-wizardform-gotostep="2" type="button">
        <f:translate key="module.newsletter.wizard.next">Next</f:translate>
    </button>
</fieldset>







<fieldset>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="configuration" class="lb-lg">
                    <f:translate key="module.newsletter.new.field.configuration">Sender</f:translate>*
                </label>
                <f:form.select
                        id="configuration"
                        class="form-control form-select input-lg"
                        options="{configurations}"
                        prependOptionValue=""
                        prependOptionLabel="{f:translate(key:'pleasechoose')}"
                        optionLabelField="title"
                        optionValueField="uid"
                        property="configuration"
                        data="{luxletter-mandatory:'1',luxletter-testmail:'configuration'}"
                        required="required" />
                <span class="help-block">
                    <f:translate key="module.newsletter.new.field.configuration.description">Sender description</f:translate>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="lb-lg">
                    <f:translate key="module.newsletter.new.field.receiver">Receiver</f:translate>*
                </label>
                <f:if condition="{view.action} == 'edit'">
                    <f:then>
                        <f:form.textfield
                            name="dummy"
                            readonly="readonly"
                            value="{luxletter:string.joinGroupTitles(groups:newsletter.receivers) -> f:format.crop(maxCharacters:100,append:' ...')}"
                            title="{luxletter:string.joinGroupTitles(groups:newsletter.receivers)}"
                            class="form-control input-lg" />
                        <f:for each="{newsletter.receivers}" as="group">
                            <f:form.hidden property="receivers." value="{group.uid}" data="{luxletter-mandatory:'1',luxletter-wizardpreviewevent:'users'}" />
                        </f:for>
                    </f:then>
                    <f:else>
                        <div>
                            <f:form.select property="receivers" id="luxletter-receivers-dropdown" multiple="multiple" data="{luxletter-mandatory:'1',luxletter-wizardpreviewevent:'users'}">
                                <f:for each="{usergroups}" as="title" key="identifier" iteration="iteration">
                                    <f:form.select.option value="{identifier}">{title}</f:form.select.option>
                                </f:for>
                            </f:form.select>
                        </div>
                    </f:else>
                </f:if>
                <span class="help-block">
                <f:if condition="{view.action} == 'edit'">
                    <f:then>
                        <f:translate key="module.newsletter.new.field.receiver.description_alternative">Receiver group description</f:translate>
                    </f:then>
                    <f:else>
                        <f:translate key="module.newsletter.new.field.receiver.description">Receiver group description</f:translate>
                    </f:else>
                </f:if>
                </span>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="layout" class="lb-lg">
                    <f:translate key="module.newsletter.new.field.layout">Layout</f:translate>
                </label>
                <f:form.select
                    id="layout"
                    class="form-control form-select input-lg"
                    options="{layouts}"
                    data="{luxletter-wizardpreviewevent:'layout'}"
                    property="layout" />
                <span class="help-block">
                    <f:translate key="module.newsletter.new.field.layout.description">Choose a template file</f:translate>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="origin" class="lb-lg">
                    <f:translate key="module.newsletter.new.field.origin">Origin</f:translate>*
                </label>
                <luxletter:condition.isMultiLanguageModeActivated>
                    <f:then>
                        <f:form.select
                            class="form-control form-select input-lg"
                            property="origin"
                            id="origin"
                            options="{newsletterpages}"
                            data="{luxletter-mandatory:'1',luxletter-wizardpreviewevent:'newsletter'}"
                            prependOptionValue=""
                            prependOptionLabel="Please choose..."/>
                        <span class="help-block">
                            <f:translate key="module.newsletter.new.field.origin.description_alternative">Choose an origin</f:translate>
                        </span>
                    </f:then>
                    <f:else>
                        <f:form.textfield
                            class="form-control input-lg"
                            property="origin"
                            id="origin"
                            placeholder="https://www.yourdomain/newsletter/2020-01/"
                            data="{luxletter-mandatory:'1',luxletter-wizardpreviewevent:'newsletter'}"
                            required="required"/>
                        <span class="help-block">
                            <f:translate key="module.newsletter.new.field.origin.description">PID or absolute URL</f:translate>
                        </span>
                    </f:else>
                </luxletter:condition.isMultiLanguageModeActivated>
            </div>
        </div>
    </div>


    <luxletter:condition.isMultiLanguageModeActivated>
        <f:else>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="subject" class="lb-lg">
                            <f:translate key="module.newsletter.new.field.subject">Subject</f:translate>*
                        </label>
                        <f:form.textfield
                            class="form-control input-lg"
                            property="subject"
                            id="subject"
                            placeholder="Your new newsletter for product A (2022/01)"
                            data="{luxletter-mandatory:'1',luxletter-testmail:'subject'}"
                            required="required"/>
                        <span class="help-block">
                            <f:translate key="module.newsletter.new.field.subject.description">Email subject</f:translate>
                        </span>
                    </div>
                </div>
            </div>
        </f:else>
    </luxletter:condition.isMultiLanguageModeActivated>


    <div style="margin: 20px 0;">
        <button class="btn btn-primary btn-lg" data-wizardform-gotostep="1">
            <f:translate key="module.newsletter.wizard.back">Back</f:translate>
        </button>
        <button class="btn btn-primary btn-lg pull-right" data-wizardform-gotostep="3">
            <f:translate key="module.newsletter.wizard.next">Next</f:translate>
        </button>
    </div>
</fieldset>







<fieldset>
    <div class="alert alert-warning" role="alert" data-luxletter-wizardstatus="pending">
        <h4 class="alert-heading">
            <f:translate key="module.newsletter.new.message.notready">Newsletter is not yet ready to be sent</f:translate>
        </h4>
        <p><f:translate key="module.newsletter.new.message.notready.mandatory">Please fill all mandatory fields</f:translate></p>
    </div>
    <div class="alert alert-success" role="alert" data-luxletter-wizardstatus="ready" style="display: none;">
        <h4 class="alert-heading">
            <f:translate key="module.newsletter.new.message.ready">Newsletter is ready for dispatch</f:translate>
        </h4>
        <p><f:translate key="module.newsletter.new.message.ready.addition">If you click save (see below), the newsletter will be planned for dispatch</f:translate></p>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" data-luxletter-wizardstatus="ready" style="display: none; height: auto;">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <f:translate key="module.newsletter.new.field.testmail">Testmail</f:translate>
                    </h3>
                </div>
                <div class="panel-body">
                    <div data-luxletter-testmail="fields" style="display: flex; flex-direction: row;">
                        <label for="test" class="lb-lg" style="width:15%;">
                            <f:translate key="module.newsletter.new.field.testmail.receiver">Receiver</f:translate>
                        </label>
                        <f:form.textfield
                            class="form-control input-lg"
                            name="testmail"
                            id="test"
                            data="{luxletter-testmail:'email'}"
                            style="margin: 0 20px; width:75%;"
                            placeholder="your@email.org"/>
                        <button class="btn btn-primary" data-luxletter-testmail="submit" style="width:10%;">
                            <f:translate key="send">Send</f:translate>
                        </button>
                    </div>


                    <div class="alert alert-success" role="alert" data-luxletter-testmail="message" style="display: none; margin-top: 20px;">
                        <h4 class="alert-heading">
                            <f:translate key="module.newsletter.new.message.testmailsent">Newsletter was sent</f:translate>
                        </h4>
                        <p><f:translate key="module.newsletter.new.message.testmailsent.addition">Your test newsletter was sent correctly</f:translate></p>
                    </div>
                </div>
            </div>



            <div data-luxletter-wizardpreview="users">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <f:translate key="module.newsletter.new.wizarduserpreview.previewreceivers">Preview of the receivers</f:translate>
                            <span class="badge" title="{userAmount} receivers">{userAmount}</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-warning" role="alert" data-luxletter-wizardstatus="pending">
                            <h4 class="alert-heading">
                                <f:translate key="module.newsletter.new.message.notready">Newsletter is not yet ready to be sent</f:translate>
                            </h4>
                            <p><f:translate key="module.newsletter.new.message.notready.receiver">Please choose a receiver group</f:translate></p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <f:translate key="module.newsletter.new.wizarduserpreview.previewnewsletter">Newsletter preview</f:translate>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="luxletter-iframepreview-container" data-luxletter-wizardpreview="newsletter">
                        <div class="alert alert-warning" role="alert">
                            <h4 class="alert-heading">
                                <f:translate key="module.newsletter.new.message.notready">Newsletter is not yet ready to be sent</f:translate>
                            </h4>
                            <p><f:translate key="module.newsletter.new.message.notready.origin">Please select an origin for your newsletter</f:translate></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <button class="btn btn-primary btn-lg" data-wizardform-gotostep="2">
        <f:translate key="module.newsletter.wizard.back">Back</f:translate>
    </button>
    <f:form.hidden property="bodytext" value=""/>
    <f:form.submit class="btn btn-primary btn-lg pull-right" value="{f:translate(key:'save')}" disabled="disabled" data="{luxletter-wizardstatus:'pending'}"/>
    <f:form.submit class="btn btn-primary btn-lg pull-right" value="{f:translate(key:'save')}" data="{luxletter-wizardstatus:'ready'}" style="display:none"/>
</fieldset>
