<fieldset>
	<div class="form-group">
		<label for="title" class="lb-lg">
			<f:translate key="module.newsletter.new.field.title">Title</f:translate>*
		</label>
		<f:form.textfield class="form-control input-lg"
						  property="title"
						  id="title"
						  placeholder="Newsletter Product A 2020/01"
						  required="required"/>
		<span class="help-block">
			<f:translate key="module.newsletter.new.field.title.description">Useful title</f:translate>
		</span>
	</div>

	<div class="form-group">
		<label for="description" class="lb-lg">
			<f:translate key="module.newsletter.new.field.description">description</f:translate>
		</label>
		<f:form.textarea class="form-control input-lg"
						 property="description"
						 id="description"
						 style="height: 100px;"></f:form.textarea>
		<span class="help-block">
			<f:translate key="module.newsletter.new.field.description.description">Example description</f:translate>
		</span>
	</div>

	<div class="form-group">
		<label for="datetime" class="lb-lg">
			<f:translate key="module.newsletter.new.field.datetime">Datetime</f:translate>
		</label>
		<f:form.textfield
				type="datetime"
				property="datetime"
				id="datetime"
				class="form-control t3js-datetimepicker t3js-clearable" />
		<span class="help-block">
			<f:translate key="module.newsletter.new.field.datetime.description">Datetime description</f:translate>
		</span>
	</div>

	<button class="btn btn-primary btn-lg pull-right" data-wizardform-gotostep="2">
		<f:translate key="module.newsletter.wizard.next">Next</f:translate>
	</button>
</fieldset>







<fieldset>
	<div class="form-group">
		<label for="origin" class="lb-lg">
			<f:translate key="module.newsletter.new.field.origin">Origin</f:translate>*
		</label>
		<f:form.textfield class="form-control input-lg"
						  property="origin"
						  id="origin"
						  placeholder="https://www.yourdomain/newsletter/2020-01/"
						  additionalAttributes="{data-luxletter-wizardpreviewevent:'newsletter'}"
						  required="required"/>
		<span class="help-block">
			<f:translate key="module.newsletter.new.field.origin.description">PID or absolute URL</f:translate>
		</span>
	</div>

	<div class="form-group">
		<label for="receiver" class="lb-lg">
			<f:translate key="module.newsletter.new.field.receiver">Receiver</f:translate>*
		</label>
		<f:form.select
				id="receiver"
				class="form-control input-lg"
				options="{luxletter:usergroup.getReceiverGroups()}"
				prependOptionValue=""
				prependOptionLabel="{f:translate(key:'pleasechoose')}"
				additionalAttributes="{data-luxletter-wizardpreviewevent:'users'}"
				property="receiver"
				required="required" />
		<span class="help-block">
			<f:translate key="module.newsletter.new.field.receiver.description">Receiver group description</f:translate>
		</span>
	</div>

	<div class="row form-group">
		<div class="col-md-12">
			<button class="btn btn-primary btn-lg" data-wizardform-gotostep="1">
				<f:translate key="module.newsletter.wizard.back">Back</f:translate>
			</button>
			<button class="btn btn-primary btn-lg pull-right" data-wizardform-gotostep="3">
				<f:translate key="module.newsletter.wizard.next">Next</f:translate>
			</button>
		</div>
	</div>
</fieldset>







<fieldset>
	<div class="alert alert-success" role="alert" data-luxletter-wizardstatus="ready">
		<h4 class="alert-heading">
			Newsletter is ready to be sent
		</h4>
		<p>Choose a testsend or finish the newsletter</p>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div data-luxletter-wizardpreview="users">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<f:translate key="LLL:EXT:luxletter/Resources/Private/Language/locallang.xlf:module.newsletter.new.wizarduserpreview.previewreceivers">Preview of the receivers</f:translate>
							<span class="badge" title="{userAmount} receivers">{userAmount}</span>
						</h3>
					</div>
					<div class="panel-body">
						<div class="alert alert-warning" role="alert" data-luxletter-wizardstatus="pending">
							<h4 class="alert-heading">
								Newsletter is not yet ready to be sent
							</h4>
							<p>Please choose a receiver group</p>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Newsletter preview
					</h3>
				</div>
				<div class="panel-body" data-luxletter-wizardpreview="newsletter">
					<div class="alert alert-warning" role="alert" data-luxletter-wizardstatus="pending">
						<h4 class="alert-heading">
							Newsletter is not yet ready to be sent
						</h4>
						<p>Please select an origin for your newsletter</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<button class="btn btn-primary btn-lg" data-wizardform-gotostep="2">
		<f:translate key="module.newsletter.wizard.back">Back</f:translate>
	</button>
	<f:form.submit class="btn btn-primary btn-lg pull-right" value="{f:translate(key:'save')}"/>
</fieldset>
