<div class="wizard">
	<a class="current dummy" data-wizardform-gotostep="1">
		<div class="badge">
			<div class="border"></div>
			<div class="number">1</div>
		</div>
		<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.wizard.1">Title
			(Todo)
		</f:translate>
	</a>
	<a class="dummy" data-wizardform-gotostep="2">
		<div class="badge">
			<div class="border"></div>
			<div class="number">2</div>
		</div>
		<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.wizard.2">Receiver
			(Todo)
		</f:translate>
	</a>
	<a class="dummy" data-wizardform-gotostep="3">
		<div class="badge">
			<div class="border"></div>
			<div class="number">3</div>
		</div>
		<f:translate key="LLL:EXT:lux/Resources/Private/Language/locallang_db.xlf:module.workflow.wizard.3">Preview
			(Todo)
		</f:translate>
	</a>
</div>
