<div class="wizard">
	<a class="current dummy" data-wizardform-gotostep="1">
		<span class="badge">
			<span class="number">1</span>
		</span>
		<span class="badge-text">
			<f:translate key="module.newsletter.wizard.1">Main</f:translate>
		</span>
	</a>
	<a class="dummy" data-wizardform-gotostep="2">
		<span class="badge">
			<span class="number">2</span>
		</span>
		<span class="badge-text">
			<f:translate key="module.newsletter.wizard.2">Details</f:translate>
		</span>
	</a>
	<a class="dummy" data-wizardform-gotostep="3">
		<span class="badge">
			<span class="number">3</span>
		</span>
		<span class="badge-text">
			<f:translate key="module.newsletter.wizard.3">Preview</f:translate>
		</span>
	</a>
</div>
