<div class="wizard">
	<a class="current dummy" data-wizardform-gotostep="1">
		<div class="badge">
			<div class="border"></div>
			<div class="number">1</div>
		</div>
		<f:translate key="module.newsletter.wizard.1">Main</f:translate>
	</a>
	<a class="dummy" data-wizardform-gotostep="2">
		<div class="badge">
			<div class="border"></div>
			<div class="number">2</div>
		</div>
		<f:translate key="module.newsletter.wizard.2">Details</f:translate>
	</a>
	<a class="dummy" data-wizardform-gotostep="3">
		<div class="badge">
			<div class="border"></div>
			<div class="number">3</div>
		</div>
		<f:translate key="module.newsletter.wizard.3">Preview</f:translate>
	</a>
</div>
